{
  "parser": "babel-eslint", /* Only to be used while using experimental features of ES */
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": "off",
    "no-console": "off",
    "react/prop-types": 0
  }
}
